body {
   margin: 0;
   padding: 0;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}

a {
   color: #369;
   text-decoration: none;
}

a:hover {
   color: #369;
   text-decoration: underline;
}

/* Header and footer styles */

.footer_left {
   float: left;
   margin-left: 8px;
}

.footer_right {
   float: right;
   margin-right: 8px;
}

.footer a:hover {
   text-decoration: none;
}

/* Content styles */

fieldset{
   padding-left: 5px;
   padding-right: 5px;
}

span.invalid {
   padding-left: 3px;
   color: red;
}

.buttons {
	text-align: center;
	margin-top: 10px;
}

#search-results {
   background-color: #E6E7E8;
   clear: both;
   width: 100%;
}

#search-results td {
   padding: 4px;
   font-size: 11px;
}

#search-results th {
   font-weight: normal;
   padding: 4px;
}

#search-results thead {

   font-weight: bold;
   color: #FFFFFF;
   background-color: black;
   text-align: left;
}

#search-results tfoot {
   height: 20px;
   font-weight: bold;
   background-color: #EAECEE;
   text-align: center;
}

#search-results tbody tr:nth-child(odd) {
   background: #f4f3f3;
}

#search-results tbody tr:nth-child(even) {
   background: #ffffff;
}

#search-results tbody tr:hover {
   background: #d2e8f2;
   cursor: pointer;
}

#view-fieldset label {	
	display: block;
    font-size: 16px;
}

#view-fieldset output {
	display: block;
	font-size: 1.25em;
	padding-bottom: 10px;
}